<div class="container-fluid">
    <button
    class="btn btn-success btn-lg"
    data-toggle="modal"
    data-target="#addQuestionModal"
  >Add Question &nbsp;
    <i
      class="fa fa-plus"
      aria-hidden="true"
    ></i>
  </button>
  <hr>
    <div class="row">
        <div class="col-lg-3">
            <div class="list-group">
                <a
                *ngFor="let question of questionService.questionsForQuiz" 
                routerLink="n-question-choices/{{question.id}}"
                routerLinkActive="active"
                 class="list-group-item list-group-item-action">{{question.content}}&nbsp;
                 <span class="pull-right">
                 <button data-toggle="modal"
                 data-target="#editQuestionModal" class="btn btn-warning">
                 <i class="fa fa-pencil" aria-hidden="true"></i></button>&nbsp;
                 <button (click)="delete(question.id)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </span>
                </a>
              </div>
        </div>
        <div class="col-lg-9">
            <router-outlet></router-outlet>
        </div>
      </div>
</div>

<div
  class="modal fade"
  id="addQuestionModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addQuestionModalTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="addQuestionModalTitle"
        >Add Question</h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <app-add-question></app-add-question>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Cancel</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editQuestionModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editQuestionModalTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="editQuestionModalTitle"
        >Edit Question</h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <app-edit-question></app-edit-question>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Cancel</button>
      </div>
    </div>
  </div>
</div>