<form
  [formGroup]="form"
  (ngSubmit)="onSubmit(form)"
>
  <div class="form-group">
    <input
      type="number"
      class="form-control"
      placeholder="Topic Number"
      [class.is-invalid]="!form.controls['topicNo'].valid && form.controls['topicNo'].touched"
      [formControl]="form.controls['topicNo']"
    />
  </div>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Title"
      [class.is-invalid]="!form.controls['title'].valid && form.controls['title'].touched"
      [formControl]="form.controls['title']"
    />
  </div>

  <div class="form-group">
    <label for="addTopicContentInput"></label>
    <textarea [froalaEditor]
      id="addTopicContentInput"
      class="form-control"
      [class.is-invalid]="!form.controls['content'].valid && form.controls['content'].touched"
      [formControl]="form.controls['content']"
    ></textarea>
  </div>

  <button
    [disabled]="!form.valid"
    type="submit"
    class="btn btn-success"
  >Add</button>
</form> 